<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>815467311147-ccnh4onkt4v11560u8g47k0jge4ifo7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815467311147-ccnh4onkt4v11560u8g47k0jge4ifo7j</string>
	<key>API_KEY</key>
	<string>AIzaSyDk9_o2NqwKdm6L8xK2vgUFnYQBHq-AvbM</string>
	<key>GCM_SENDER_ID</key>
	<string>815467311147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mateo.avopodo</string>
	<key>PROJECT_ID</key>
	<string>avopodo-8f35c</string>
	<key>STORAGE_BUCKET</key>
	<string>avopodo-8f35c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815467311147:ios:5e54d02cabc83434</string>
	<key>DATABASE_URL</key>
	<string>https://avopodo-8f35c.firebaseio.com</string>
</dict>
</plist>